a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #caf;
    color: #217;
}

a:visited {
    background-color: #ffa;
    color: #761;
}